*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.judul p{
    position: absolute;
    left: 420px;
    top: 78px;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}

.text-box{
    width: 602px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 13px;
    font-size: 16px;
}

.card{
    position: absolute;
    left: 420px;
    top: 175px;
    width: fit-content;
    height: fit-content;
    padding: 23px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.btn_edit{
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border: none;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 23px;
    background-color: #5463FF;
    margin: 18px 15px 34px 530px;
}

.btn_back{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 23px;
    background: #FF1E00;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0;
}
