*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
}

.card{
    position: absolute;
    left: 370px;
    top: 125px;
    width: fit-content;
    height: fit-content;
    padding: 23px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.text-box{
    width: 602px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px 13px;
    font-size: 16px;
}

.text-box:focus{
    width: 602px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline-color: #5463FF;
    border-radius: 10px;
    padding: 10px 13px;
    font-size: 16px;
}

.btn_create{
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    border: none;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 23px;
    background-color: #5463FF;
    margin: 18px 15px 34px 500px;
}

.btn_create:hover{
        transition: all .2s ease-in-out;
        background-color: #1d2ffa;
}

.btn_back{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 23px;
    background: #FF1E00;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0;
}

.judul p {
    position: absolute;
    left: 370px;
    top: 28px;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}


span{
    color: #1d2ffa;
}

/* sidebar */

.sidebar{
    width: 17%;
    height: 100vh;
    position: fixed;
    background-color: #0D1721;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
}

.head{
    height: 70px;
    background: rgba(40, 42, 53, 0.9);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head p{
    font-size: 20px;
    font-weight: medium;
    color: #fff;
    cursor: pointer;
}

.sidebar ul{
    padding-left: 16px;
    margin: 22px 0;
    line-height: 40px;
}

.sidebar ul i{
    margin-right: 10px;
}

.sidebar ul a{
    font-size: 18px;
}

.sidebar li {
    margin-bottom: 30px;
}

.side-buku{
    background-color: #fff;
    color: #0D1721;
    padding: 12px 50px 12px 19px;
    border-radius: 12px;
    font-weight: bold;
}

.side-siswa{
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.side-siswa:hover{
    background-color: #fff;
    color: #0D1721;
    padding: 12px 38px 12px 19px;
    border-radius: 12px;
    font-weight: bold;
}